/* .TheMainContainer{
    background-image: url("../../../public/assets/backgroundPurple.jpg");
    height: 100%;
} */


.FormContainer {
    display: flex;
    justify-self: center;
    background-color: #f0e8ff;
    width: 50%;
    margin: auto;
    margin-top: 75px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.theNav {
    position: fixed;
    top: 0;
    width: 100%;
}

.error{
    color: red;
}