.input{
    background-color: purple;
    border: black solid 2px;
    border-radius: 20px;
    width: 80%;
    padding: 1vh;
    margin-bottom: 2%;
}
.btn{
    background-color: purple;
    border: black solid 2px;
    border-radius: 100px;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2%;
    transform: translateY(4px);
}
.sign{
    background-color: purple;
    border: black solid 2px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 1vh;
    margin-bottom: 2%;
    margin-top: 20px;
    text-align: center;
}
.style{
    margin-top: 20px;
    background-color: rgb(199, 192, 192);
    text-align: center;
    /* display: flex; */
    /* background-color: purple; */
    border: black solid 2px;
    border-radius: 20px;
    /* width: 50%; */
    width: 100%;
    padding: 1vh;
    margin-bottom: 2%;
   
}
.parent{
    display: flex;

margin-right: 2%;
}
.mydiv{
    display: flex;
    
}
.mydiv2{
    width: 100%;
}
.myfont{
color: purple;
}
.myimg{
    margin-top: 2%;
    width: 25vw;
    height: 40vh;
}
.bodysize{
    width: 50%;
}
.myfooter{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: purple;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
    