.ProfileIcon{
 width: 20%;
}

.successDiv{
 color:rgb(1, 100, 1);
 text-align: center;
 font-weight: bold;
}


/* .EnterNewPhotos{
  display: flex;
  justify-content: center;
  align-items: center;
} */