.feed {
    flex: 8;
}

.feedWrapper {
    padding: 60px;
    padding-left: 110px;
    padding-right: 100px;
}



.noUserPostsyet{
    margin-top: 30px;
    width: 85%;
    padding: 5%;
    height: 10rem;
    text-align:center;
    margin-left: 10%;
    font-weight: 900;
    font-size: 30pt;
    border-radius: 40px; 
    font-family: 'raleway';
    color:rgb(164, 160, 165);
    background-color: #f2ebff;
}

